.miniFooter{
  background-color: #333333;
  color: #ffffff;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.miniFooter h1{
  font-size: 15px;
}

/*':global' 表示全局样式，会影响其他模块*/
:global(h1){
  color: red;
}
